h1 {
color: cornflowerblue;
font-size: 50px;
background-color: azure;

}

body {

background-color: cornflowerblue;

}

body {
    text-align: center; 
    margin: 0; 
    padding: 0; 
}

body {
    text-align: center; 
    margin: 0; 
    padding: 0; 
}

body {

font-size: 40;

}

ul {
    list-style-type: none; 
    padding: 0; 
    
    font-size: 20px;
    
}

li {
    margin-bottom: 5px; 
}

p {

font-size: 20px;    
font-family: sans-serif;

}

ol {
    list-style-type: none;
    font-size: 20px;
    



}